body {
    background-image: url("/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
    color: #304564 ;
    background-size: cover;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    text-shadow: 0px 0px ;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    text-shadow: 0 0 ;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #574B54;
}

#save-btn {
    background: green;
}

.text{
    max-width: 80%;
    background-color: #E0E0E0;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px; 
    
}






